*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type="text"]{
    border-radius: 10px;
    height: 50px;
    width: 400px;

}
input::placeholder{
    text-align: center;
    font-size: 25px;
}

.myborder{
    border:2px solid black;
}
.bord{
    border:4px dotted pink;
}
ul{
    list-style: none;
}

/* .chk{
    appearance: none;
    width: 25px;
    height: 20px;
    border-radius: 2px;
    border: solid 2px black;
    cursor: pointer;
    background-color: aliceblue;
} */
.contain{
   
    min-height: 70vh;
    
}
body{
background:linear-gradient(to right bottom,#4e3ecd,#eb77e6);
height: 100vh;
}

.box{
    margin-inline: 250px;
    padding-inline:2px;
    width: 50%;
    padding-block: 50px;
    /* border:4px; */
    /* border-color: rgb(243, 28, 46); */
    border-style:solid;
    background-color: rgb(228, 214, 55);

}
.lis{
    width: 50%;
    display: flex;
    justify-content:flex-start;
    gap:10px;
}
h3{
    background-color: rgb(109, 201, 229);
}
button{
    width: 10%;
    height: 20%;
    border-radius: 10px;
}
